.pyc
*.pyc
*data_blockchainh*.json
*consumer_blockchainh*.json
*blockchain_notCript_*.json
*noBlockchain*.json
*physic-manager*.json
*lastBlockReaded_*.json
*no_blockchain*.json
devices_running.json
nodes.json

*.csv
*env
*__pycache__
venv
*pool.json
*/build
*/dist